<!doctype html>
<title>Simple tables</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1>VBTT {{ version }} --> Details</h1>
  <br>
  <br>
  {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
      <h4>Average return in period(%): <FONT COLOR=#BE5313>{{ avg_return[loop.index] }}</FONT></h4>
      <h4>Balanced accuracy in period: <FONT COLOR=#BE5313>{{ blc_accuracy[loop.index] }}</FONT></h4>
      <h6>Model: {{ model_html }}</h6>
      <br><br><br>


  {% endfor %}
</div>