<!doctype html>
<title>Simple tables</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1>VBTT {{ version }} --> Recommendations</h1>
  <br>
  <br>
  {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
      <h4>Balanced accuracy is calculated from: <FONT COLOR=#BE5313>{{ date_range[1] }}</FONT>  to: <FONT COLOR=#BE5313>{{ date_range[2] }}</FONT> </h4>
      <h6>Model: {{ model_html }}</h6>
      <br><br><br>


  {% endfor %}
</div>